<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/univ.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ezamemag.css">
    <title>Delightable - Playing EzamEmag</title>
</head>

<body>
    <div id="header">
        <div class="component">
            <span class='left-content'><img src="/images/logo.png" alt="Logo"></span>
            <span class='right-content'>
                <div class='message'>Logined as <b><%= username %></b><br>Score: <%= score %></div>
                <a href="/main">
                    <div class="right-icon">
                        <img src="/images/previous.png" alt="Back To Main Page">
                    </div>
                </a>
            </span>
        </div>
    </div>
</body>

</html>