<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/univ.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <title>Delightable</title>
</head>
<body>
    <div class="header"><span><img class="logo" src="/images/icon.png" alt="Logo"></span><span class="title">Hello, <%= username %>!</span></div>
    <div class="components">
        <a href="/play/ezamemag">
            <div class="component">
                <span id="logo"><img id="component-img" src="/images/maze.png" alt="EzamEmag"></span>
            </div>
        </a>
        <a href="/main/ranking">
            <div class="component">
                <span id="logo"><img id="component-img" src="/images/rank.png" alt="Ranking"></span>
            </div>
        </a>
    </div>
</body>
</html>