.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo {
    animation: slightly-appear 2s;
}
.desc {
    font-size: 40px;
    text-shadow: 4px 4px gray;
    letter-spacing: 1px;
}
.logo-img-in-first {
    width: 300px;
    height: 240px;
}

.loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

    visibility: hidden;
    animation: boop 3s;
    animation-fill-mode: forwards;
}
.loading div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
    left: 6px;
    animation: loading1 1s infinite;
}
.loading div:nth-child(2) {
    left: 6px;
    animation: loading2 1s infinite;
}
.loading div:nth-child(3) {
    left: 26px;
    animation: loading2 1s infinite;
}
.loading div:nth-child(4) {
    left: 45px;
    animation: loading3 1s infinite;
}

@keyframes slightly-appear {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes loading1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
@keyframes loading3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes boop {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}